div {
  border: none;
}
nav {
  box-sizing: border-box;
  text-align: center;
  font-size: 30px;
  width: 100%;
  margin-left: 0px;
  
}
nav::first-letter 
{
  color: red;
}


.cartBtn {
  float: right;
  background: url("https://cdn1.iconfinder.com/data/icons/ecommerce-free/96/Cart-512.png");
  background-size: 80px 80px;
  height: 80px;
  width: 80px;
  border: none;
}
.tab th {
  font-size: 25px;
  color: green;
  padding: 15px;
   
}

.add-btn {
  padding: 6px 20px;
  color: blue;
}
.rmv-btn {
  padding: 6px 18px;
  color: blue;
}
.tab td {
  font-size: 18px;
  padding: 7px 28px;
}
.tab {
  width: fit-content;
  display: block;
  margin: auto;
  background-color: rgb(188, 223, 240);
   margin-top: 10%;
}
#totCount
{
  margin-left:800px;
  font-size:25px;
  color:blue;
}
.totAmt
{
  margin-left:800px;
  font-size:25px;
  color:blue;
}
.noItem
{ margin-top: 200px;
  margin-left:550px;
  font-size:30px;
  color:blue;
}

body {
  background-color: rgb(172, 201, 240);
}

